
.bg{
    background-color: #acaaaa34;
}
.margin{
    margin-left: 160px;
    margin-right: 160px;
}
.btn{
    border-radius: 8px;
    background: rgb(0, 106, 80);
    border-radius: 8px;
    
    color: white;
    width: 122px;
    height: 41px;
    border:none ;
}
.space{
    padding-top: 12px;
}
.space2{
    padding-bottom: 40px;
}

/* nav bar style */
nav{
    display: flex;
    justify-content: space-between;
}

.nav-bd{
    Font-weight:700;
    Font-size:32px;
}

.nav-btn{
    color: #006A50;
    box-sizing: border-box;
border: 1px solid #006A50 ;
border-radius: 8px;
width: 116px;
height: 52px;
background-color: white;
font-weight: 600;
font-size: 18px;
margin-top: 60px;
}


/* hero section style */

.hero{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 100px 80px 100px;
    
}

.hero-container{
    
    align-items: center;
    margin-top: 70px;
    width: 1280px;
    height: 560px;
    
     border-radius: 24px;
    background: rgb(198, 228, 214);   
}


.hero-content{
   text-align: left;
   margin-left:  60px ;  
   
}


.hero-title{
width: 600px;

Font-weight: 700;
font-size: 56px;
align-items: center;
}


.hero-subtitle{
font-size: 24px;
font-weight: medium;
color: #0e0e0e91;
}


.hero-btn{
    font-size: 18px;
    width: 270px;
    height: 56px;
    background-color: #006A50;
    color: white;
    border: none;
    
}


.hero-img{
    width: 475px;
    height: 400px;
    margin-right:  60px ;
}




/* main section styles */
.main2{
  margin-top: 70px;
  
}

/* all the secondary  class */

.name{
    font-size: 20px;
    font-weight: bold;
}

.title{
font-size: 40px;
font-weight: 700;
text-align: left;
}

.details{
    font-size: 16px;
    font-weight:normal;
    color: #0e0e0eab;
}

/* pillars */

.pillars{
    display: flex;
    gap: 24px;
   
   
}

.pillar-items{
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    padding: 24px;
    background: rgb(255, 255, 255);
    padding: 32px;
}

/* the vision of future boxs bg-color styles */

.p1{
    background: rgba(84, 144, 245, 0.2) ;
}
.p2{
    background: rgb(198, 228, 214);
}
.p3{
   background: rgb(247, 235, 207);
}

/* main2 section button styles */

.main2-p1-btn{
    border-radius: 8px;
    background: rgb(84, 144, 245);
    color: white;
    width: 122px;
    height: 41px;
    border:none ;
}
.main2-p2-btn{
    border-radius: 8px;
    background: rgb(9, 161, 92);
    color: white;
    width: 122px;
    height: 41px;
    border:none ;
}
.main2-p3-btn{
    border-radius: 8px;
    background: rgb(255, 194, 57);
    color: white;
    width: 122px;
    height: 41px;
    border:none ;
}

/* main3 section styles */

.main3{
    box-sizing: border-box;
border: 1px solid rgba(14, 14, 14, 0.15);
border-radius: 16px;
background: rgb(255, 255, 255);
margin-top: 50px;
padding:25px;
position: relative;
}

.q-img{
    margin-top: 20px;
    position: absolute;
    top:2px
}

/* main4 section styles */
    
.main4{
    margin-top: 50px;
}
.opinion-box{
    border-radius: 16px;
    background: rgb(255, 255, 255);
    justify-content: space-between;
}

table {
    width: 1280px;
    height: 409px;
}

/* main5 section styles */

.main5{
    margin-top: 50px;
   


    
}

.satellite1{
    display: flex;
    background-color: white;
    gap: 50px;
    padding: 48px;
    border-radius: 24px;
    
}

.sat-img{
    border-radius: 24px;
}

.news {
    text-align: left;
    margin-right:  60px ; 

}
  
/* main6 section style */

.main6{
    margin-top: 70px;
}

.satellite2{
    display: flex;
    background-color: white;
    gap: 50px;
    padding: 48px;
    border-radius: 24px;
   
}

/* main7 section styles */

.main7{
    margin-top: 70px;
    margin-left: 200px;
    margin-right: 200px;
}
.money-content .title {
    text-align: center;
    
}
.money-content .details {
    text-align: center;
    
    
}
.money-box{
    display: flex;
    gap: 24px;
    justify-content: center;
}
.money-option{
    height: 128px;
    width: 264px;
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);
    padding: 40px;
    font-size: 40px;
    font-weight: 700;
    
}
.another-taka-option{
    width: 1032px;
    height: 64px;
    color : rgba(10, 10, 10, 0.568);
    box-sizing: border-box;
    border-bottom: 1px solid rgba(14, 14, 14, 0.15);
    background: rgb(255, 255, 255);
    text-align: center;
    padding: 40px;
    margin-top: 40px;
    margin-left: 220px ;
    justify-content: center;
   
}
.select-amount{
    background: rgb(198, 228, 214);
}